$border-color: #616161;

.top-menu {
    width: 80%;
    float: left;
    box-sizing: border-box;
    border-bottom: 1px solid $border-color;
    background: #242424;

    position: relative;
    z-index: 10;
}

.left-menu-controlls {
    height: 100%;

    display: flex;
    align-items: center;

    float: left;

    box-sizing: border-box;
    padding: 20px 0px 20px 50px;
}

.d-input {
    float: left;
    outline: none;

    width: 400px;
    box-sizing: border-box;
    padding: 15px 30px 15px 15px;
    border-radius: 13px;
    border: 1px solid white;
}

.d-input_search {
    height: 25px;
    aspect-ratio: 1/1;
    background-color: white;

    float: left;
    margin-right: 15px;
}

.d-input_form {
    outline: none;
    border: none;
    background: #242424;

    font-size: 18px;
    color: white;

    width: 85%;
}

.right-menu-user {
    float: right;
    height: 96.75px;

    display: flex;
    align-items: center;

    box-sizing: border-box;
    padding: 0 50px 0 0;
}

.notifications {
    width: 40px;
    aspect-ratio: 1/1;

    float: left;
    margin-right: 35px;

    position: relative;
}

.notification-bell {
    width: 100%;
    height: 100%;

    position: relative;

    cursor: pointer;
}

.notifications-image {
    width: 100%;
    height: 100%;

    background-image: url('/images/notification.png');
    background-size: cover;

    filter: invert(100%) sepia(0%) saturate(500%) hue-rotate(100deg);
}

.notifications_count {
    position: absolute;
    top: 18px;
    left: 24px;

    aspect-ratio: 1/1;

    border-radius: 50%;
    border: 1px solid #242424;

    box-sizing: border-box;
    padding: 1px 9px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    color: white;
    font-weight: bold;

    background: #69a5ff;
}

.notifications-advanced {
    position: absolute;

    width: 450px;
    max-height: 350px;
    min-height: 100px;

    background: #222222;

    border-radius: 15px;
    border: 1px solid rgb(90, 90, 90);

    left: -450px;

    display: none;
}

.not-ad--open {
    display: block;
}

.profile {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 130px;
}

.user {
    width: 60px;
    aspect-ratio: 1/1;

    float: left;
}

.user-pic {
    width: 100%;
    height: 100%;

    background-color: white;
    border-radius: 50%;
}

.user-more {
    width: 40px;
    aspect-ratio: 1/1;

    float: left;
}

.more-image {
    width: 100%;
    height: 100%;

    background-color: white;
}