.path {
    float: left;
    position: absolute;
    left: 270px;
}

.path-inside {
    padding: 20px 20px 5px 30px;
    box-sizing: border-box;
    font-size: 18px;
}

.path-component {
    display: flex;
    align-items: center;
}