.public-discussions--list {
    box-sizing: border-box;
    padding: 20px 40px;
}

.public-discussion {
    width: 100%;

    box-sizing: border-box;
    padding: 10px;
}

.public-discussion--header {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #333333;

    box-sizing: border-box;
    padding-bottom: 15px;
}

.pub-disc--header-wrapper {
    display: flex;
}

.discussion_picture {
    width: 35px;
    aspect-ratio: 1/1;
}

.public-discussion_title {
    font-size: 20px;
    font-weight: bold;

    margin-left: 15px;

    display: flex;
    align-items: flex-end;
}

.public-discussion_functions {
    width: 20px;
    aspect-ratio: 1/1;
    filter: invert(44%) sepia(0%) saturate(500%) hue-rotate(0deg);

    cursor: pointer;
}

.public-discussion--inforamtion {
    width: 100%;
    
    box-sizing: border-box;
    padding: 15px 0px;
}

.public-discussion_description {
    font-size: 18px;
    text-indent: 30px;
}