.hightest-task {
    box-sizing: border-box;
    padding: 0px 40px;
}

.task-component--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;

    font-size: 24px;
    font-weight: normal;

    cursor: pointer;

    transition: 0.3s;
}

.task-component--header:hover {
    background: rgb(45, 45, 45);
}

