
.task-editing {
    width: 100%;

    box-sizing: border-box;
    padding: 15px 30px;

    display: flex;
    justify-content: space-between;

    margin-bottom: 30px;

    position: relative;
}

.selectedTaskTitle {
    font-size: 30px;
}