.topics-list {
    box-sizing: border-box;
    padding: 10px 40px;
}

.topics-list-content {
    box-sizing: border-box;
    border-left: 1px solid;
    border-color: #505050;
}

.topics-section {
    position: relative;
    top: 0px;
    overflow: hidden;

    transition: opacity 0.3s, all 0.5s;
}

.topic-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #505050;
}

.--show {
    width: 28px;
    aspect-ratio: 1/1;
    transition: rotate 0.3s ease;
}