.topics-list {
    box-sizing: border-box;
    padding: 10px 40px;
}

.topics-list-content {
    box-sizing: border-box;
    border-left: 1px solid;
    border-color: #505050;
}

.topics-section {
    position: relative;
    top: 0px;

    transition: opacity 0.3s, all 0.5s;
}

.hightest-topic {
    box-sizing: border-box;
    padding: 0px 40px;
}

.--show {
    width: 28px;
    aspect-ratio: 1/1;
    transition: rotate 0.3s ease;
}