$secondary-dark: #575757;
$secondary-dark-title: #a2a2a2;

.task {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.task-top {
    font-size: 23px;
}

.task-title {
    float: left;
    font-weight: bold;
    margin: 0 0 15px 0;
    float: left;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

.task-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: $secondary-dark-title;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.task-title:hover::after {
    transform: scaleX(1);
}

.task-info {
    width: 100%;
    float: left;
    transition: max-height 0.6s ease-in-out, opacity 0.6s ease; /* Плавная анимация высоты и прозрачности */
    box-sizing: border-box;
    padding: 0px 20px 0px 20px;
    position: relative;
    top: 0;
    left: 0;

    /* Начальное состояние */
    opacity: 0;
    max-height: 0;
    overflow: hidden; /* Скрытие содержимого */
}

.task-info.task-open {
    opacity: 1; /* Плавное появление */
    max-height: 600px; /* Эффект "раскрытия" */
}
.task-info-component {
    float: left;
    font-size: 17px;
    margin-right: 40px;
    display: flex;
    align-items: center;
}

.deadline-property, .priority-property, .responsible-property {
    margin: 0 10px 0 5px;
    font-weight: bold;
}

.priority-status {
    width: 20px;
    aspect-ratio: 1/1;
    border-radius: 5px;
    float: left;
}

.task-description {
    width: 100%;
    float: left;
    font-size: 19px;
    margin: 20px 0 20px 0;
}