.default-list-element {
    width: 100%;
    font-size: 21px;
    font-weight: 500;

    box-sizing: border-box;
    padding: 10px 15px;

    margin-bottom: 8px;

    border-bottom: 1px solid #989898;

    cursor: pointer;
}