.default-list-element {
    width: 100%;
    font-size: 21px;
    font-weight: 500;

    box-sizing: border-box;
    padding: 10px 15px;

    margin-bottom: 8px;

    cursor: pointer;
}

.default-list-element:hover {
    background: rgb(90, 90, 90);
}