.discussion {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #3c3c3c;
    margin-bottom: 30px;
    background: rgb(33, 33, 33);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.discussion:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.discussion-header {
    box-sizing: border-box;
    padding: 10px 30px 10px;
}

.disc-title {
    width: 100%;
    font-size: 28px;
    font-weight: 700;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s ease;
    padding: 10px 0 10px 0;
}

.disc-title:hover {
    color: #bcbfff;
}

.disc-title--show {
    width: 25px;
    aspect-ratio: 1/1;
    transition: transform 0.3s ease;
}

.content-container {
    position: relative;
    top: 0;

    transition: 0.5s;
}

.ReactCollapse--collapse {
    transition: height 0.3s ease-in-out;
}

.disc-view {
    box-sizing: border-box;
    padding: 0 30px; /* Убрал нижний padding, чтобы анимация была плавной */
    overflow: hidden;
    transition: height 0.3s ease, padding 0.3s ease; /* Добавил анимацию для height и padding */

    height: auto;
}


.discussion-info {
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px 0 0 0;
    transition: opacity 0.3s, all 0.5s;

    position: relative;
    top: 0px;
}

.disc-creation_date {
    color: #cccccc;
    font-size: 18px;
    padding: 15px 0;
    border-bottom: 1px solid #505050;
}

.topics-container {
    box-sizing: border-box;
    padding: 20px 40px 40px 40px;
    font-size: 30px;
    font-weight: 600;

    display: flex;
    justify-content: space-between;
}

.topics-header--top {
    box-sizing: border-box;
    padding: 20px 40px 40px 40px;
    font-size: 30px;
    font-weight: 600;

    display: flex;
    justify-content: space-between;

    transition: opacity 0.3s;
}

.--show {
    width: 28px;
    height: 28px;
    aspect-ratio: 1/1;
    transition: rotate 0.3s ease;

    display: flex;
    justify-content: center;
    align-items: center;
}