/*.header {
    width: 100%;
    min-width: 1620px;
    height: 70px;
    padding: 0 50px 0 5%;
    box-sizing: border-box;
    border-bottom: 3px solid rgb(53, 53, 53);
    position: absolute;
}

.left-side {
    width: auto;
    height: 100%;
    float: left;
    display: flex;
    justify-content: space-between;
}

.profile {
    height: 100%;
    margin: 0 50px 0 0;
}

.header-menu-block {
    padding: 0 30px 0 30px;
    height: 100%;
    font-family: "Arimo", sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-weight: bold;
    color: #808080;
}

.right-side {
    float: right;
    height: 100%;
}

.head-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-family: "Funnel Display";
    font-size: 40px;
    font-weight: bold;
    color: white;
}
    */