.hightest-topic {
    box-sizing: border-box;
    padding: 0px 40px;
}

.topic-component {
    width: 100%;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.topic-element--inside {
    border-left: 1px solid #505050;
}

.topic-header--element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    padding: 20px 40px;
    border-bottom: 1px solid #ffffff00;

    transition: 0.3s;
}

.hightest-topic.choosen--topic .topic-header--element {
    margin-bottom: 20px;
}

.hightest-topic:not(.choosen--topic) .topic-header--element:hover {
    background: rgb(45, 45, 45);
}

.hightest-topic.choosen--topic .topic-header--element:hover {
    background: none;
}

.topic-title {
    font-size: 25px;
    color: #ffffff;
    transition: color 0.3s ease;
}

.topic-content {
    position: relative;
    top: 0px;

    transition: 0.5s;
}