.markdown-placeholder {
    color: gray;
    font-style: italic;
}

.markdown-container {
    font-size: 16px;
    color: #ddd;
    background-color: #222;
    padding: 16px;
    border-radius: 8px;

    word-wrap: break-word;
}
.markdown-container h1 {
    color: #fff;
    line-height: 1;
}

.markdown-container a {
    color: #61dafb;
}

.markdown-container ol, ul {
    line-height: 1.3;
}

.markdown-container pre, code {
    line-height: 1 !important;
}


