:root {
    --theme-z-index: 0;
    --task-z-index: 1;
    --theme-opacity: 1;
    --task-opacity: 0;
}

span.bold {
    font-weight: bold;
}

.react-flow__node-default .react-flow__handle {
    display: none; 
}

.net-content {
    width: 80%;
    height: calc(100vh - 121px);
    float: left;
    position: relative;
}

.theme_node {
    border-radius: 50%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 40px;
    visibility: visible !important;

    color: black;
    background: #E9E9E9;

    z-index: var(--theme-z-index) !important;
    opacity: var(--theme-node-opacity) !important;
}

.theme_zoom-in {
    --theme-node-opacity: 1;
}

.task_node {
    visibility: visible !important;
    z-index: var(--task-z-index) !important;
    opacity: var(--task-node-opacity) !important;
}

// BUTTONS

.save_button {
    position: absolute;
    bottom: 15.5px;
    left: 60px;

    box-sizing: border-box;
    padding: 5px 10px 5px 10px;

    font-size: 10px;
    font-weight: bold;

    cursor: pointer;
}

.mix_button {
    position: absolute;
    bottom: 45.5px;
    left: 60px;

    box-sizing: border-box;
    padding: 5px 10px 5px 10px;
    background: white;
    color: black;

    font-size: 10px;
    font-weight: bold;

    cursor: pointer;
}

// INFORMATION

.close_information {
    position: absolute;
    right: 30px;
    top: 30px;
    
    width: 33px;
    aspect-ratio: 1/1;

    background-image: url('../../../public/images/close.png');
    background-size: cover;
    filter: invert(44%) sepia(100%) saturate(1000%) hue-rotate(200deg);

    cursor: pointer;
}

.task_information {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    min-width: 570px;
    max-width: 100%;
    background: linear-gradient(145deg, #353535, #2d2d2d);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    transition: 0.3s;
}

.resizer {
    float: left;
    width: 5px;
    height: 100%;
    background: #2d2d2d;
    cursor: ew-resize;

    position: relative;
}

.resizer:hover {
    background: #555;
}

.information_block {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.information_content {
    box-sizing: border-box;
    padding: 40px 20px 40px 7%;
    width: 100%;
    color: white;
    font-weight: 500;
}

.inf-label {
    text-align: left;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
}

.task_label--information {
    text-align: left;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

.task_param--information {
    width: 100%;
}

.vertical-text {
    writing-mode: vertical-lr;
    font-size: 19px;
    font-weight: 500;
    float: left;
    margin-right: 15px;
    border-right: 2px solid white;
}

.params-list {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.param-card {
    background: #454545;
    padding: 10px;
    border-radius: 8px;
    flex: 1;
    text-align: center;
    transition: transform 0.2s ease;
}

.param-card:hover {
    transform: translateY(-5px);
}

.task_assignees {
    margin-top: 20px;
    font-size: 19px;
    margin-bottom: 20px;
}

.task_description--information {
    width: 100%;
    font-size: 18px;
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
    padding: 20px 0 20px 0;
    margin: 20px 0 0px 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
}

.comments-block {
    flex-grow: 1;
    box-sizing: border-box;
    padding: 0 20px 20px 7%;
    width: 100%;
}

.comments-count {
    text-align: left;
    font-size: 20px;
    font-weight: bold;

    margin-bottom: 20px;
}