:root {
    --theme-z-index: 0;
    --task-z-index: 1;
    --theme-opacity: 1;
    --task-opacity: 0;
}

.react-flow__node-default .react-flow__handle {
    display: none; 
}

.net-content {
    width: 80%;
    height: calc(100vh - 121px);
    float: left;
    position: relative;
}

.theme_node {
    border-radius: 50%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 40px;
    visibility: visible !important;

    color: black;
    background: #E9E9E9;

    z-index: var(--theme-z-index) !important;
    opacity: var(--theme-node-opacity) !important;
}

.theme_zoom-in {
    --theme-node-opacity: 1;
}

.task_node {
    visibility: visible !important;
    z-index: var(--task-z-index) !important;
    opacity: var(--task-node-opacity) !important;
}

.save_button {
    position: absolute;
    bottom: 15.5px;
    left: 60px;

    box-sizing: border-box;
    padding: 5px 10px 5px 10px;

    font-size: 10px;
    font-weight: bold;

    cursor: pointer;
}

.mix_button {
    position: absolute;
    bottom: 45.5px;
    left: 60px;

    box-sizing: border-box;
    padding: 5px 10px 5px 10px;
    background: white;
    color: black;

    font-size: 10px;
    font-weight: bold;

    cursor: pointer;
}